################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/Bible-Arabic/x64
*.user
/x64
/Bible-Arabic/Debug
/Bible-Arabic/Release
/Debug
/Release
/shell/Debug
/shell/Release
/shell/x64
/sqlite/Debug
/sqlite/Release
/sqlite/x64
/winbase/Debug
/winbase/Release
/winbase/x64
/converter/x64
/converter/Release
/Setup/Debug
/Setup/Release/Setup.msi
/Setup/Release
/mbrola/Debug
/mbrola/Release
/mbrola/x64
/Bible-Arabic/abana.ulaw
/Bible-Arabic/verse.wav
/pho_gen/Debug
/pho_gen/Release
/pho_gen/x64
